*{
    margin: 0;
    padding: 0;
}

.footer{
    padding: 20px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    .titulo{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .contFooter{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .formContainer{
            padding-top: 20px;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p{
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                animation-name: cambioColor;
                animation-duration: 3s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
            }
            .form{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                input{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    border-radius: 5px;
                    width: 30rem;
                    padding-left: 20px;
                }
                textarea{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    border-radius: 5px;
                    padding-left: 20px;
                    width: 30rem;
                    height: 10rem;
                }
            }
        }
        .redes{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .tituloRedes{
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                animation-name: cambioColor;
                animation-duration: 3s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
            }
            .redesContainer{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .red{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    p{
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    }
                }
            }
        }
    }
    @media (max-width: 890px){
        .contFooter{
            flex-direction: column;
            .formContainer{
                justify-content: center;
                align-items: center;
            }
        }
    }
    @media (max-width: 524px){
        .contFooter{
            .formContainer{
                .form{
                    justify-content: center;
                    align-items: center;
                    input{
                        width: 320px;
                    }
                    textarea{
                        width: 320px;
                    }
                }
            }
        }
    }
}

@keyframes cambioColor {
    0% {
        color: rgb(255, 255, 255); /* Color inicial */
    }
    50% {
        color: rgb(255, 255, 255); /* Color intermedio */
        text-shadow: 1px 1px #dc99e1, 2px 2px #9d4da1, 3px 3px #532056
    }
    100% {
        color: rgb(255, 255, 255); /* Color final */
    }
}