*{
    margin: 0;
    padding: 0;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 11vh; */
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
}
.App .parraf{
    width: 90vw;
    margin: 0;
    padding: 0;
}